{% extends 'base.html' %}
{% block title %} HOMEPAGE {% endblock title %}
{% block css %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock css %}
{% block content %}
Members <br>

<form name="membersList" method="POST">
    <label for="exampleFormControlFile2">Choose member</label>
      <select name="member">
        {% for info in data %}
          <option value="{{ info['name'] }}" SELECTED>{{ info['name'] }}</option>
        {% endfor %}
      </select>
      <input type="submit"  value="Submit">
</form>


{% endblock content %}

