{% extends 'base.html' %}
{% block title %} HOMEPAGE {% endblock title %}
{% block css %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/userpage.css') }}">
{% endblock css %}
{% block content %}

<label name="Name" class="newname123"> Name: {{userData['name']}} </label><br>
<label name="THLevel"> <b>TownHall:</b> {{userData['THLevel']}} </label><br>
<label name="Exp"> <b>Experience:</b> {{userData['exp']}} </label><br>
<label name="Trophy"> <b>Trophy:</b> {{userData['trophy']}} </label><br>
<label name="Role"> <b>Role:</b> {{userData['role']}} </label><br>
<label name="league"> <b>League:</b> {{userData['league']}} </label><br>

Troops<br>
<div class="hightroop">
{% for troop in userData['troops'] %}
<div class="troop">
<div class="troophead"><b>{{troop['name']}}</b></div><br>
{{troop['level']}}
<progress id="file" max="{{troop['maxLevel']}}" value="{{troop['level']}}"></progress>
{{troop['maxLevel']}}


<br>Village: {{troop['village']}}<br>
</div>
{% endfor%}
</div>
{% endblock content %}