{% extends 'base.html' %}
{% block title %} HOMEPAGE {% endblock title %}
{% block css %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/userpage.css') }}">
{% endblock css %}
{% block content %}

<div class="labels">
<label name="Name" class="heading"> <b>Name:</b> {{userData['name']}} </label>
<label name="THLevel" class="heading"> <b>TownHall:</b> {{userData['THLevel']}} </label>
<label name="Exp" class="heading" > <b>Experience:</b> {{userData['exp']}} </label>
<label name="Trophy" class="heading" > <b>Trophy:</b> {{userData['trophy']}} </label>
<label name="Role" class="heading" > <b>Role:</b> {{userData['role']}} </label>
<label name="league" class="heading" > <b>League:</b> {{userData['league']}} </label>
</div>

<br><div class="troopheading"> <b><h5>Heroes</h5></b></div></br>
<div class="background">   
            {% for troop in userData['heroes'] %}
                 <div class="block x">
                    <b>{{troop['name']}}</b>
                    <br>Level<br>
                    {{troop['level']}}
                    <progress id="file" max="{{troop['maxLevel']}}" value="{{troop['level']}}"></progress>
                    {{troop['maxLevel']}}<br>
                    Village: {{troop['village']}}<br>
            </div>
            {% endfor%}
</div>

<br><div class="troopheading"> <b><h5>Troops</h5></b></div></br>
 <div class="background">
            {% for troop in userData['troops'] %}
            <div class="block x"> 
                    <b>{{troop['name']}}</b>
                    <br>Level<br>
                    {{troop['level']}}
                    <progress id="file" max="{{troop['maxLevel']}}" value="{{troop['level']}}"></progress>
                    {{troop['maxLevel']}}<br>
                    Village: {{troop['village']}}<br>
            </div>
            {% endfor%}
</div>

<br><div class="troopheading"> <b><h5>Spells</h5></b></div></br>
<div class="background">
            {% for troop in userData['spells'] %}
            <div class="block x"> 
                    <b>{{troop['name']}}</b>
                    <br>Level<br>
                    {{troop['level']}}
                    <progress id="file" max="{{troop['maxLevel']}}" value="{{troop['level']}}"></progress>
                    {{troop['maxLevel']}}<br>
                    Village: {{troop['village']}}<br>
            </div>
            {% endfor%}
</div>



{% endblock content %}